h3{
  text-align: center;
}
h2{
  text-align: center;
}
.botao{
  margin-left: 500px;
  margin-top: 10px;
}

#tabelaProduto{
  width: 50%;
  margin-left: 300px;
  margin-top: 20px;
}

.tabelaValor{
  margin-left: 500px;
}
